input[type='submit'], #FileInputButton, #DeleteButton {
    background-color: #26A69A;
    border: 0px;
    border-radius: 2px;
    font-size: 1.1em;
    padding: 5px;   
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 1px 2px #6a6a6a;
    color: #EEEEEE;
    font-family: 'Noto Sans', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;     
}

input[type='submit']:hover, #FileInputButton:hover, #DeleteButton:hover {
    text-decoration: none;
    box-shadow: 0px 2px 5px #4a4a4a; 
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;  
}

#DeleteButton {
    display: inline-block;
    background-color: #F44336;
}

.entries h2 {
    display: inline-block;
    padding-right: 5px;
}

#emailForm {
    text-align: left;
}

#FileNameDisplay{
    font-family: 'Noto Sans', sans-serif; 
    color: #616161;
    padding-right: 10px;
}

input[type='file']{
    width: 0px;
    height: 0px;
}
