body {
    margin: 0px !important;
    padding: 0px !important;
    background-color: #F5F5F5;
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.Title {
    color: #424242;
    font-family: 'Noto Sans', sans-serif;
}

p {
    color: #424242;
    font-size: 1em;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-family: 'Noto Sans', sans-serif;
}

.pRight {
    float: right;
}

.imgLeft {
    width: 20%;
    padding-right: 1%;
    float: left;
}

#Titlebox {
    z-index: 2;
    position: relative;
    width: 100%;
    background-color: #009688;
    font-size: 3em;
    text-indent: 50px;
    font-family: 'Noto Sans', fantasy;
    color: #FAFAFA;
    box-shadow: 0px 2px 5px #888888;
    overflow:hidden;
}

#SideToggle{
    position: absolute;
    z-index: 3;
    border: 0px;
    padding: 0px;
    margin: 0px;
    background: transparent center center no-repeat;
    background-image: url("//material-design.storage.googleapis.com/images/hamburger.svg");
}

#SideBar {
    position: absolute;
    z-index: 1;
    width: 15%;
    float: left;
    background-color: #CFD8DC;
    display: inline-block;
    color: #212121;
    font-family: 'Noto Serif', sans-serif;
    opacity: 50%;
    overflow-y: auto;
    overflow-x:visible;
}

#SideBar ul {
    padding-left: 10px;
    list-style-type: none;
    list-style-image: none;
    line-height: 1.5em;
}

#StoryNavToggle{
  color: #1976D2;
}


#StoriesNavList > li{
    padding-bottom: 13px;
}

ul {
    list-style-type: none;
}

#Copyright {
}

#Content {
    position: relative;
    z-index: 0;
    width:83.7%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    float:right;
    overflow: auto;
}
