{% extends "layout.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block body %}
  <h2>Contact</h2>
        <form method="post" action="{{ url_for('send') }}">
        <table class="">

          <tr>

            <th>
              <label for="email">Your Email:</label>
            </th>

          </tr>

          <tr>

            <td>
              <input type="email" id="email" name="email" placeholder="Enter your email address" />
            </td>

          </tr>

          <tr>

            <th>
              <label for="subject">Subject:</label>
            </th>

          </tr>

          <tr>

            <td>
              <input type="text" id="subject" name="subject" placeholder="Enter email's subject" />
            </td>

          </tr>

          <tr>

            <th>
              <label for="emailbody">Body:</label>
            </th>

          </tr>

          <tr>

            <td>
              <textarea id="emailbody" placeholder="Enter body of email" name="emailbody"></textarea>
            </td>

          </tr>

        </table>

        <input type="submit" value="Send email" />

    </form>
{% endblock %}