{% extends "layout.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block body %}
    <h1 class="Title">Short Story Website With A Difference.</h1>

    <img id="b" class="imgLeft" src="http://www.peterwakefieldwriter.com/resources/Peter%20in%20garden%20[320x200].jpg?timestamp=1340460135122">

<p>Firstly I would like to welcome all who have logged on to the website. I would guess this will include visitors who love short stories; visitors who are themselves writers and those who may be thinking of starting to write themselves. It is my hope that this site will engage everyone in the writing process.</p>
<p>Over the past year I have been working on many different short stories, but one of them gave me a problem that I couldn't resolve, namely how to end it. Month after month I tied to draft and re- draft potential endings but none felt right.</p>
<p>Eventually I sent a copy of the draft to fellow writers, asking for their help. They sent me a wide variety of suggestions, and one of these provided the breakthrough I needed. It allowed me to finish the story.</p>
<p>That story, 'Unforgettable Night' is the first one published on the site, and is the only one that has been completed.</p>
<p>During the last few weeks, after reflecting on how much my friends suggestions helped, an idea began to form that has eventually given birth to this site.</p>
<p><strong>Why is this site one ' with a difference?'</strong></p>
<p>It is simply that none of the stories are finished, (except 'Unforgettable Night'). It will be obvious to readers that they need further work, from minor changes to whole blocks that may need entirely re-drafting.</p>
<p><strong>Invitation to Visitors.</strong></p>
<p>I invite you to read through the stories that have been posted. Then, in time, if you wish to, to send your reflections/ideas/suggestions/ critiques to me at my Gmail address:</p>
<p><a href="mailto:peterwakefieldwriter@gmail.com">peterwakefieldwriter@gmail.com</a></p>
<p>I will then try to work through your responses, and reply to every one individually. In due course I would then hope to re-draft and then re-post them. At the end of a particular story I would give details of the responses that led to changes.</p>
<p>The heart of this process is therefore interactive. I know this will be a new learning experience for me. It is my hope that insights that are shared would also help writers in their own work.</p>
<p><strong>The Finished Stories.</strong></p>
<p>Just over two years ago, my wife Christine and I co-wrote a book of ten short stories about out life in France, entitled 'Bon Courage Les Anglais' (It is in English). This became an Amazon number one bestseller.</p>
<p>I would be my hope in time to publish a new collection of stories taken from the website. At the end of each story as it appears in the book I would add a footnote to acknowledge anyone who contributed.</p>
<p><strong>Competitions.</strong></p>
<p>I think it is important to mention that in the coming months I hope to write new stories to submit to a variety of competitions. Two years ago I was fortunate to win a competition run by a writer's magazine, and the prize was a fantastic two week writing holiday on the Greek island of Skyros.</p>
<p>No stories that appear on this website will ever be used in competitions. Any scripts submitted would be entirely my own work.</p>
<p><strong>The End.</strong></p>
<p>I would be the first to admit that there are new challenges in seeking to work in partnership with site visitors. I believe that working through these together can give rise to very exciting new possibilities.</p>
<p>Thank you for taking the time to read this far.</p>
<p><strong>Peter Wakefield.</strong></p>

{% endblock %}
