{% extends "layout.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block body %}
    <h1 class="Title">Welcome to a writers website</h1>

    <img id="b" class="imgLeft" src="http://www.peterwakefieldwriter.com/resources/Peter%20in%20garden%20[320x200].jpg?timestamp=1340460135122">

    <p>
        Peter Wakefield is a retired church minister, who currently enjoys life in the
        West Midlands, England with his wife Christine. He is a keen short story writer
        who was delighted in 2012 to be chosen as the winner of a prestigious competition
        organised by Writing Magazine.
    </p>

    <p>
        This website will show off some of his short stories, and give information on his
        published books. You are free (and encouraged) to leave comments on the stories.
    </p>
{% endblock %}