{% extends "layout.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block body %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <script src="{{ url_for('static', filename='uploadStyler.js') }}"></script>
    {% if user.email %}
        <h2 class="Title">Upload new File</h2>
        <form action="" method=post enctype=multipart/form-data>
            <button id="FileInputButton">Choose a file</button> <span id="FileNameDisplay">No File Chosen</span>
            <input type=file name=file id="FileInput">
            <input type=submit value=Upload>
        </form>
    {% else %}
        <p>Your not logged in.</p>
    {% endif %}
{% endblock %}
